// -----------------------------------------------------------------
// base
// -----------------------------------------------------------------
.l-footer {
  width: 100%;
  background: $emerald;
  color: #fff;
  text-align: center;
  p {
    padding: 1%;
  }
}
