// -----------------------------------------------------------------
// base
// -----------------------------------------------------------------
.l-main {
  padding-top: 65px;
  margin-bottom: 10%;
  @include mq_s() {
    padding-top: 50px;
  }
}
